<section class="c-keyvisual">
    <div class="c-keyvisual__pinkblock">
        <picture>
            <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/back_pink--sp.png">
            <img src="./assets/img/keyvisual/back_pink.png" alt="自然の恵、職人の技がつまった
            新潟からのお届け物">
        </picture>
    </div>
    <div class="c-keyvisual__map">
        <picture>
            <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/map--sp.png">
            <img src="./assets/img/keyvisual/map.png" alt="自然の恵、職人の技がつまった
            新潟からのお届け物">
        </picture>
    </div>
    <div class="c-keyvisual__niigata">
        <picture>
            <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/name--sp.png">
            <img src="./assets/img/keyvisual/name.png" alt="NIIGATA">
        </picture>
    </div>
    <div class="c-keyvisual__yellowblock">
        <picture>
            <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/back_yellow--sp.png">
            <img src="./assets/img/keyvisual/back_yellow.png" alt="自然の恵、職人の技がつまった
            新潟からのお届け物">
        </picture>
    </div>
    <div class="c-keyvisual__natureblock">
        <picture>
            <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/photo--sp.png">
            <img src="./assets/img/keyvisual/photo.png" alt="自然の恵、職人の技がつまった
            新潟からのお届け物">
        </picture>
    </div>

    <h1 class="c-keyvisual__maintitle">
        <picture>
            <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/mainTitle--sp.png">
            <img src="./assets/img/keyvisual/mainTitle.png" alt="自然の恵、職人の技がつまった
            新潟からのお届け物">
        </picture>
    </h1>

    <div class="c-keyvisual__subtitle">
        <picture>
            <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/txt--sp.png">
            <img src="./assets/img/keyvisual/txt.png" alt="みやげっとは地域の素敵なものをお届けします。">
        </picture>
    </div>

</section>