.u-palt {
    font-feature-settings: "palt";

    &--onlypc {
        font-feature-settings: "palt";

        @include tab {
            font-feature-settings: unset;
        }
    }

    &--onlysp {
        @include sp {
            font-feature-settings: "palt";
        }
    }
}

.u-noscroll {
    overflow: hidden;
}

.is-display {
    &--onlypc {
        @include tab {
            display: none;
        }
    }

    &--pctab {
        @include sp {
            display: none;
        }
    }

    &--tabsp {
        display: none;
        @include tab {
            display: unset;
        }
    }

    &--onlysp {
        display: none;
        @include sp {
            display: unset;
        }
    }
}
